// Colors
$color-red: #FF0000;
$color-green: #00FF00;
$color-blue: #0000FF;
$color-white: #f4f6ff;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


// Breaking Points
