figure {
  position: relative;
}


figure .absolute-text {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 42px;
  top: 50%;
  color: white;
  text-transform: uppercase;
  font-weight: bold;

  @media screen and (max-width: 768px) {
    font-size: 22px;
  }

}
